
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}

  .footer-fijo {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.login-item {
    margin-left: auto;
}

.card2{
    background-color: #fff; 
    border-radius: 10px;
    padding: 30px;
}

.bg-vino {
    background-color: #7a123a !important;
    color: white;
    border-radius: 12px;
}

.bg-vino:hover {
    background-color: rgb(59, 7, 27);
    color: white;
    border-radius: 12px;
}

.bg-verde {
    background-color: #00664d !important;
    color: white;
    border-radius: 12px;
}

.section {
    padding: 40px 20px;
}

.carousel-inner img {
    max-height: 500px;
    object-fit: cover;
    width: 100%;
}

.contact-box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 40px;
    margin: 20px auto;
    width: 190px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.contact-box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.contact-button {
    display: inline-block;
    background-color: #007b5f;
    color: #fff;
    padding: 8px 16px;
    margin-top: 10px;
    border-radius: 12px;
    text-decoration: none;
}

.contact-button:hover {
    background-color: #00664d;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}

.custom-button, .custom-button-2 {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 10px;
    width: 180px;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: all 0.3s ease;
}

.custom-button:hover, .custom-button-2:hover {
    background-color: #e6f2ef;
    border-color: #007b5f;
    color: #007b5f;
}

.custom-button img, .custom-button-2 img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.text-center h4 {
    color: #00573d;
    font-weight: 600;
}



